.stars {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}

.star {
    --star-color: var(--blue-light);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}

.star:nth-child(1) {
    --star-tail-length: 6.15em;
    --top-offset: 56.14vh;
    --fall-duration: 6.672s;
    --fall-delay: 3.121s;
}

.star:nth-child(2) {
    --star-tail-length: 6.55em;
    --top-offset: 24.16vh;
    --fall-duration: 11.367s;
    --fall-delay: 7.743s;
}

.star:nth-child(3) {
    --star-tail-length: 6.36em;
    --top-offset: 82.6vh;
    --fall-duration: 6.192s;
    --fall-delay: 4.749s;
}

.star:nth-child(4) {
    --star-tail-length: 5.44em;
    --top-offset: 50.01vh;
    --fall-duration: 7.423s;
    --fall-delay: 2.432s;
}

.star:nth-child(5) {
    --star-tail-length: 6em;
    --top-offset: 85.88vh;
    --fall-duration: 6.65s;
    --fall-delay: 5.44s;
}

.star:nth-child(6) {
    --star-tail-length: 6.05em;
    --top-offset: 49.07vh;
    --fall-duration: 9.158s;
    --fall-delay: 0.26s;
}

.star:nth-child(7) {
    --star-tail-length: 6.73em;
    --top-offset: 84.15vh;
    --fall-duration: 9.721s;
    --fall-delay: 2.116s;
}

.star:nth-child(8) {
    --star-tail-length: 6.29em;
    --top-offset: 21.57vh;
    --fall-duration: 7.526s;
    --fall-delay: 9.111s;
}

.star:nth-child(9) {
    --star-tail-length: 5.42em;
    --top-offset: 98.23vh;
    --fall-duration: 9.511s;
    --fall-delay: 2.346s;
}

.star:nth-child(10) {
    --star-tail-length: 5.1em;
    --top-offset: 38.08vh;
    --fall-duration: 9.995s;
    --fall-delay: 5.399s;
}

.star:nth-child(11) {
    --star-tail-length: 5.48em;
    --top-offset: 27.9vh;
    --fall-duration: 7.283s;
    --fall-delay: 8.507s;
}

.star:nth-child(12) {
    --star-tail-length: 5.47em;
    --top-offset: 91.3vh;
    --fall-duration: 7.695s;
    --fall-delay: 7.224s;
}

.star:nth-child(13) {
    --star-tail-length: 7.02em;
    --top-offset: 41.69vh;
    --fall-duration: 11.126s;
    --fall-delay: 6.129s;
}

.star:nth-child(14) {
    --star-tail-length: 6.39em;
    --top-offset: 10.21vh;
    --fall-duration: 11.504s;
    --fall-delay: 3.875s;
}

.star:nth-child(15) {
    --star-tail-length: 5.98em;
    --top-offset: 40.7vh;
    --fall-duration: 8.221s;
    --fall-delay: 0.479s;
}

.star:nth-child(16) {
    --star-tail-length: 5.99em;
    --top-offset: 39.62vh;
    --fall-duration: 8.987s;
    --fall-delay: 0.185s;
}

.star:nth-child(17) {
    --star-tail-length: 5.32em;
    --top-offset: 88.75vh;
    --fall-duration: 9.901s;
    --fall-delay: 0.544s;
}

.star:nth-child(18) {
    --star-tail-length: 5.64em;
    --top-offset: 40.98vh;
    --fall-duration: 6.796s;
    --fall-delay: 6.107s;
}

.star:nth-child(19) {
    --star-tail-length: 6.89em;
    --top-offset: 26.54vh;
    --fall-duration: 8.066s;
    --fall-delay: 9s;
}

.star:nth-child(20) {
    --star-tail-length: 6.11em;
    --top-offset: 48.97vh;
    --fall-duration: 8.343s;
    --fall-delay: 2.313s;
}

.star:nth-child(21) {
    --star-tail-length: 5.1em;
    --top-offset: 97.1vh;
    --fall-duration: 6.627s;
    --fall-delay: 0.798s;
}

.star:nth-child(22) {
    --star-tail-length: 5.36em;
    --top-offset: 33.79vh;
    --fall-duration: 8.059s;
    --fall-delay: 6.98s;
}

.star:nth-child(23) {
    --star-tail-length: 5.96em;
    --top-offset: 82.48vh;
    --fall-duration: 11.54s;
    --fall-delay: 8.626s;
}

.star:nth-child(24) {
    --star-tail-length: 6.22em;
    --top-offset: 44.13vh;
    --fall-duration: 7.312s;
    --fall-delay: 2.814s;
}

.star:nth-child(25) {
    --star-tail-length: 6.9em;
    --top-offset: 80.57vh;
    --fall-duration: 8.935s;
    --fall-delay: 5.98s;
}

.star:nth-child(26) {
    --star-tail-length: 6.45em;
    --top-offset: 61.58vh;
    --fall-duration: 7.9s;
    --fall-delay: 8.646s;
}

.star:nth-child(27) {
    --star-tail-length: 6.1em;
    --top-offset: 67.2vh;
    --fall-duration: 10.896s;
    --fall-delay: 3.409s;
}

.star:nth-child(28) {
    --star-tail-length: 5.18em;
    --top-offset: 8.91vh;
    --fall-duration: 11.458s;
    --fall-delay: 7.048s;
}

.star:nth-child(29) {
    --star-tail-length: 6.32em;
    --top-offset: 33.5vh;
    --fall-duration: 10.295s;
    --fall-delay: 0.159s;
}

.star:nth-child(30) {
    --star-tail-length: 7.13em;
    --top-offset: 45.24vh;
    --fall-duration: 7.992s;
    --fall-delay: 6.087s;
}

.star:nth-child(31) {
    --star-tail-length: 7.28em;
    --top-offset: 18.97vh;
    --fall-duration: 8.943s;
    --fall-delay: 9.892s;
}

.star:nth-child(32) {
    --star-tail-length: 6.55em;
    --top-offset: 25.5vh;
    --fall-duration: 9.849s;
    --fall-delay: 9.543s;
}

.star:nth-child(33) {
    --star-tail-length: 6.19em;
    --top-offset: 34.42vh;
    --fall-duration: 11.843s;
    --fall-delay: 1.229s;
}

.star:nth-child(34) {
    --star-tail-length: 6.51em;
    --top-offset: 0.92vh;
    --fall-duration: 9.187s;
    --fall-delay: 3.269s;
}

.star:nth-child(35) {
    --star-tail-length: 5.27em;
    --top-offset: 53.85vh;
    --fall-duration: 6.024s;
    --fall-delay: 3.359s;
}

.star:nth-child(36) {
    --star-tail-length: 7.03em;
    --top-offset: 68.22vh;
    --fall-duration: 10.133s;
    --fall-delay: 4.544s;
}

.star:nth-child(37) {
    --star-tail-length: 5.01em;
    --top-offset: 59.62vh;
    --fall-duration: 10.443s;
    --fall-delay: 6.406s;
}

.star:nth-child(38) {
    --star-tail-length: 5.07em;
    --top-offset: 14.79vh;
    --fall-duration: 9.717s;
    --fall-delay: 3.035s;
}

.star:nth-child(39) {
    --star-tail-length: 5.79em;
    --top-offset: 1.71vh;
    --fall-duration: 9.179s;
    --fall-delay: 5.676s;
}

.star:nth-child(40) {
    --star-tail-length: 7.2em;
    --top-offset: 10.94vh;
    --fall-duration: 9.475s;
    --fall-delay: 2.356s;
}

.star:nth-child(41) {
    --star-tail-length: 5.64em;
    --top-offset: 59.78vh;
    --fall-duration: 10.295s;
    --fall-delay: 7.929s;
}

.star:nth-child(42) {
    --star-tail-length: 5.38em;
    --top-offset: 25.24vh;
    --fall-duration: 6.722s;
    --fall-delay: 3.974s;
}

.star:nth-child(43) {
    --star-tail-length: 5.29em;
    --top-offset: 82.92vh;
    --fall-duration: 7.7s;
    --fall-delay: 9.723s;
}

.star:nth-child(44) {
    --star-tail-length: 6.04em;
    --top-offset: 25.41vh;
    --fall-duration: 6.727s;
    --fall-delay: 8.133s;
}

.star:nth-child(45) {
    --star-tail-length: 6.98em;
    --top-offset: 95.08vh;
    --fall-duration: 8.144s;
    --fall-delay: 2.557s;
}

.star:nth-child(46) {
    --star-tail-length: 6.57em;
    --top-offset: 52.25vh;
    --fall-duration: 9.602s;
    --fall-delay: 7.717s;
}

.star:nth-child(47) {
    --star-tail-length: 6.67em;
    --top-offset: 49.33vh;
    --fall-duration: 11.638s;
    --fall-delay: 9.782s;
}

.star:nth-child(48) {
    --star-tail-length: 7em;
    --top-offset: 74.54vh;
    --fall-duration: 10.884s;
    --fall-delay: 0.994s;
}

.star:nth-child(49) {
    --star-tail-length: 5.81em;
    --top-offset: 97.3vh;
    --fall-duration: 7.152s;
    --fall-delay: 5.093s;
}

.star:nth-child(50) {
    --star-tail-length: 6.64em;
    --top-offset: 0.03vh;
    --fall-duration: 11.517s;
    --fall-delay: 0.572s;
}

.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}