@keyframes loading {
    0% {
        cy: 10;
    }

    25% {
        cy: 3;
    }

    50% {
        cy: 10;
    }
}

body {
    -webkit-font-smoothing: antialiased;
}

#button {
    background-color: #404663;
    border: none;
    width: 190px;
    color: #fff;
    font-weight: 600;
    height: 50px;
    outline: none;
    overflow: hidden;
    padding: 10px 30px;
    border-radius: 0.5em;
    position: relative;
    transition: 0.5s;
    box-shadow:
        0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
        0px 4px 5.3px rgba(0, 0, 0, 0.028),
        0px 7.5px 10px rgba(0, 0, 0, 0.035),
        0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
        0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
        0px 60px 80px rgba(0, 0, 0, 0.07);
}

#button:hover {
    background: var(--blue-light);
    box-shadow: 0 0.5em 0.5em -0.4em var(--blue-light);
    transition: 0.3s;
}

#button.ready .submitMessage svg {
    opacity: 1;
    top: 1px;
    transition: top .4s ease 600ms, opacity .3s linear 600ms;
}

#button.ready .submitMessage .button-text span {
    top: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--dr) + 600ms);
}

#button.loading::before {
    transition: width .3s ease;
    width: 80%;
}

#button.loading .loadingMessage {
    opacity: 1;
}

#button.loading .loadingCircle {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
    cy: 10;
}

#button.complete .submitMessage svg {
    top: -30px;
    transition: none;
}

#button.complete .submitMessage .button-text span {
    top: -8px;
    transition: none;
}

#button.complete .loadingMessage {
    top: 80px;
}

#button.complete .successMessage .button-text span {
    left: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--d) + 1000ms);
}

#button.complete .successMessage svg {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .3s ease-in-out 1.4s;
}

.button-text {
    display: flex;
}

.button-text span {
    opacity: 0;
    position: relative;
}

.message {
    left: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.submitMessage .button-text span {
    top: 8px;
    transition: all 0.2s ease var(--d);
}

.submitMessage svg {
    color: #5c86ff;
    margin-left: -1px;
    opacity: 0;
    position: relative;
    top: 30px;
    transition: top .4s ease, opacity .3s linear;
    width: 14px;
}

.loadingMessage {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
}

.loadingMessage svg {
    fill: #5c86ff;
    margin: 0;
    width: 40px;
}

.successMessage .button-text span {
    left: 5px;
    transition: all 0.2s ease var(--dr);
}

.successMessage svg {
    color: #5cffa1;
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    transition: stroke-dashoffset .3s ease-in-out;
    width: 14px;
}

.loadingCircle:nth-child(2) {
    animation-delay: 0.1s;
}

.loadingCircle:nth-child(3) {
    animation-delay: 0.2s;
}