.card {
    border-radius: 8px;
    backdrop-filter: blur(40px);
    background-color: rgba(65, 65, 65, 0.167);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: default;
}

.cardContainer::before {
    min-width: 20%;
    height: 50%;
    content: "";
    position: absolute;
    background-color: rgb(21, 0, 255);
    z-index: -1;
    border-radius: 40%;
    top: 40%;
    right: 25%;
    transition: all 0.8s;
}

.cardContainer::after {
    width: 20%;
    height: 50%;
    content: "";
    position: absolute;
    background-color: rgb(86, 0, 199);
    z-index: -1;
    border-radius: 40%;
    top: 10%;
    right: 5%;
    transition: all 0.8s;
}

.cardContainer:hover::before {
    transform: translate(100%, -60%);
}

.cardContainer:hover::after {
    transform: translate(-100%, 60%);
}