@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #020315;
    --secondary: #8e8e8e53;
    --white: #fff;
    --green-light: #00e955;
    --blue-light: #00e1ff;
    --gray: #999;
    --black: #101010;
}

body {
    background: var(--primary);
    color: var(--white);
    font-size: 14px;
}

/* Sidebar Css */
.sidebar {
    background: radial-gradient(ellipse at bottom, #230953a8 0, #0f0f31b3 70%);
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(18px);
    transition: width 0.5s;
    transition-timing-function: ease;
}

.profile {
    height: 239px;
    width: 192px;
    opacity: 1;
    transition: height 0.6s, opacity 0.2s;
}

.profile img {
    width: 65%;
    border: 7px solid var(--secondary);
}

.name-title {
    color: var(--blue-light);
}

.social-links {
    z-index: 0;
}

.social-links a {
    width: 36px;
    height: 36px;
    padding: 6px 0;
    margin: 5px 6px;
    font-size: 16px;
    border-radius: 50%;
    color: var(--white);
    display: inline-block;
    background: var(--secondary);
    transition: background 0.3s;
}

.social-links a:hover {
    background: #00acfb;
}

.navigation li {
    position: relative;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation a {
    height: 60px;
    display: flex;
    text-decoration: none;
    color: var(--white);
    transition: color 0.5s;
}

.navigation a:hover {
    color: var(--blue-light);
}

.navigation a i {
    min-width: 35px;
}

.navigation a .title {
    opacity: 1;
    padding: 0 14px;
    white-space: nowrap;
    transition: opacity 0.2s;
}

.navigation li.active {
    background: var(--primary);
}

.navigation li.active a {
    color: var(--blue-light) !important;
    text-shadow: 0 0 8px #009be9;
}

.navigation li.active::before {
    content: "";
    position: absolute;
    background: transparent;
    right: 0;
    top: -20px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--primary);
}

.navigation li.active::after {
    content: "";
    position: absolute;
    background: transparent;
    right: 0;
    bottom: -20px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--primary);
}

.toggle {
    left: 35px;
    top: 25px;
    z-index: 2;
    display: none;
    cursor: pointer;
    transition: left 0.5s ease;
}

/* Home Page */
.main {
    margin-left: 300px;
    transition: margin 0.6s ease;
}

.hero::before {
    content: "";
    background: transparent;
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
}

.hero h5,
.hero h4 {
    font-weight: 600;
}

.hero span {
    color: var(--blue-light);
}

.name-aurora {
    font-weight: 800;
    font-size: 70px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, aqua, blue, Magenta, red, orange, yellow, cyan, blue, violet, cyan);
    background-size: 400% 400%;
    animation: animate 30s ease infinite;
}

/* About Page */
.home-photo {
    max-width: 80%;
    padding: 3%;
    border: 5px solid var(--white);
    box-shadow: 0 0 10px var(--white);
}

.home-photo img {
    box-shadow: 50px 0 60px -40px #03e9f4,
        0 60px 60px -50px #034bf4,
        -60px 0 70px -40px #5303f4,
        0 -70px 80px -50px #9803f4;
}

.about-text {
    font-weight: 500;
    font-size: 17px;
}

.about-text a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #009dd6;
    transition: all 0.3s;
}

.about-text a:hover {
    color: var(--blue-light);
    text-shadow: 0 0 15px #5100ff;
}

/* Skills Page */
.card {
    cursor: default;
    border-radius: 15px;
    backdrop-filter: blur(40px);
    background-color: #0d12279f;
    border: 1px solid var(--blue-light);
    box-shadow: #120681c3 0 0 10px;
    transition: scale 0.3s ease;
}

.skill {
    border-radius: 10px;
    color: var(--gray);
}

.card:hover {
    scale: 1.015;
}

/* summary Page */
.line-summary {
    width: 2px;
    position: relative;
    background: var(--blue-light);
}

.line-summary span {
    display: flex;
    position: absolute;
    padding: 6px;
    background: var(--blue-light);
    border-radius: 50%;
    left: -5px;
}

.card-summary {
    cursor: default;
    border: 1px solid var(--blue-light);
    border-radius: 8px;
    box-shadow: #120681c3 0 0 10px;
    transition: background 0.2s, translate 0.3s;
}

.card-summary:hover {
    background: #160e4582;
    translate: 0 -3px;
}

/* Footer */
.footer {
    margin-left: 300px;
    background: radial-gradient(ellipse at bottom, #000000ff 0, #1c055a83 70%);
    transition: margin-left 0.5s ease;
}

.footer span {
    color: var(--gray);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width: 1400px) {

    .toggle,
    .toggle.active {
        display: block;
    }

    .sidebar {
        width: 85px;
    }

    .sidebar.active {
        width: 300px;
    }

    .profile {
        height: 0;
        opacity: 0;
    }

    .navigation a .title {
        opacity: 0;
    }

    .sidebar.active .profile {
        height: 239px;
        opacity: 1;
        transition: height 0.4s ease, opacity 1s;
    }

    .sidebar.active .title {
        opacity: 1;
        transition: opacity 1.2s;
    }

    .main,
    .footer {
        margin-left: 85px;
    }

    .main.active,
    .footer.active {
        margin-left: 300px;
    }
}

@media (max-width: 992px) {

    .sidebar.active .navigation li.active,
    .sidebar.active .navigation li.active::before,
    .sidebar.active .navigation li.active::after {
        background: none;
        content: none;
    }

    .main.active,
    .footer.active {
        margin-left: 85px;
    }

    .about-text {
        font-size: 15px;
    }

    .about-text a {
        font-size: 14px;
    }

    .skill,
    .footer span {
        font-size: 13px;
    }

    .card-summary h5 {
        font-size: 17px;
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 100%;
    }

    .sidebar>* {
        opacity: 0;
        transition: opacity 0.2s;
    }

    .sidebar.active>* {
        opacity: 1;
        transition: opacity 0.8s;
    }

    .navigation li.active,
    .navigation li.active::before,
    .navigation li.active::after {
        background: none;
        content: none;
    }

    .toggle,
    .toggle.active {
        left: 25px;
    }

    .main,
    .main.active,
    .footer,
    .footer.active {
        margin-left: 0;
    }

    .name-aurora {
        font-size: 55px;
        line-height: 1;
        height: 115px;
    }

    #skills .row .col-12 {
        max-width: 340px;
    }

    .footer .name-aurora {
        line-height: 1.1;
        height: auto;
    }
}

@media (min-width: 450px) and (max-width: 768px) {
    #skills .row .col-12 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 450px) and (max-width: 992px) {
    #skills .row .col-12 {
        max-width: 480px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    #skills .row .col-12 {
        max-width: 450px;
    }
}

@media (min-width: 992px) and (max-width:1400px) {
    .main.active #skills .row {
        width: 90%;
    }

    .main.active #about .about-text {
        font-size: 15px;
    }

    .main.active #about .about-text a {
        font-size: 14px;
    }
}